# Flutter
.dart_tool/
.packages
.build/
build/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Misc
.DS_Store
Thumbs.db
